{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} | Toodoo</title>
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    </head>
    <body>
        {% include "task/partials/nav.html" %}

        <main class="py-6 px-8">
        {% block content %}
        {% endblock%}
        </main>
        {% include "task/partials/footer.html" %}

    </body>
</html>
