{% extends "task/base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="frontpage">
    <h1>{{ title }}</h1>
    <h2>Test</h2>

    <form method="post", action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>

    {% for task in tasks %}
        {% include 'task/partials/tasks.html' %}
    {% endfor %}

    <hr>

{% for category in categories %}
    <div>

        <p> <a href="{% url 'category_detail' category.id %}">{{ category.title }}</a> </p>
    </div>
{% endfor %}

</div>
{% endblock %}
