{% load humanize %}
<div class="bg-gray-100 p-4 rounded-xl">
     <p class="font-bold">{{ task.title }}</p>
     <time class="text-sm text-gray-500">{{ task.created_at|date:"d M Y H:i" }}</time>
     <time class="text-sm text-gray-500">{{ task.created_at|naturaltime }}</time>

    <div class="flex space-x-4">
        <p>
            {% if task.is_done %}
                Completed
            {% else %}
                <a href="{% url 'mark_completed' task.pk %}" class="text-emerald-500">Mark as Done</a>
            {% endif %}
        </p>
        <p><a href="{% url 'edit_task' task.pk %}" class="text-yellow-500">Edit</a></p>
        <p>
            <a href="{% url 'delete_task' task.pk %}" class="text-rose-600">Delete</a>
        </p>
    </div>
 </div>
